body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #DEB887;
}

.category-aktif {
  background-color: #DEB887;
  color: white;
}

.btn-primary {
  background-color: #DEB887;
}

/* @media only screen and (max-height: 1000px) {
}
.hasil {
  height: 650px;
} */

.overflow-auto::-webkit-scrollbar {
  display: none;
}

/* Halaman utama harus bisa di-scroll, footer fixed tetap terlihat */
.page-wrapper {
  height: calc(100vh - 70px);
  /* tinggi navbar */
  overflow-y: auto;
  padding-bottom: 160px;
  /* ruang untuk footer */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}